*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background: radial-gradient(rgb(12, 135, 96),rgb(4, 68, 38));
    height: 99vh;
}

.main_container{
    margin: 0 auto;
    border: 2px solid white;
    width: 810px;
    border-radius: 10px;
    margin-top: 40px;
}

.ta_container{
    margin: 0 auto;
    width: 300px;
    text-align: center;
}

input{
    width: 290px;
    background: none;text-align: center;
    border: none;
    color: aliceblue;
}

.text{
    border: 1px dashed rgb(214, 222, 226);
    padding: 5px 20px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
    color: aliceblue;
}

.btn_submit{
    padding: 5px 120px;
    color: rgb(4, 65, 1);
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 20px;
}

.hover_effect:hover{
    border: 2px solid red;
}